<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="hz.com.hztools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!--android.permission.VIBRATE允许访问震动权限-->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!--android.permission.FLASHLIGHT允许访问闪光灯的权限-->
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <!--android:name="android.permission.CAMERA允许访问相机的权限-->
    <uses-permission android:name="android.permission.CAMERA"/>


    <application
        android:name=".Application.HzApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".acticity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".acticity.MainActivity"/>
        <activity android:name=".acticity.IndicatorDialogActicity"/>
        <activity android:name=".acticity.SliderActivity"/>
        <activity android:name=".acticity.PickerActivity"/>
        <activity android:name=".acticity.DialogsActivity"/>
        <activity android:name=".acticity.ImaPickerActivity"/>
        <activity android:name=".acticity.IndicatorActivity"/>
        <activity android:name=".acticity.ZxingCodeActivity"/>
        <activity android:name=".acticity.DragActivity"/>
        <activity android:name=".acticity.PullZoomActivity"/>
        <activity android:name=".acticity.DialogplusActivity"/>
        <activity android:name=".acticity.FlowActivity"/>
        <activity android:name=".acticity.PhonViewActivity"/>
        <activity android:name=".acticity.EditTextActivity"/>
        <activity android:name=".acticity.AutofitTextViewActivity"/>
        <activity android:name=".acticity.WeChatActivity"/>
        <activity android:name=".acticity.SwipeDelMenuActivity"/>
        <activity android:name=".acticity.DanmuActivity"/>
        <activity android:name=".acticity.IndentTextActivity"/>
        <activity android:name=".acticity.RecyclerViewActivity"/>
        <activity android:name=".acticity.OkgoActivity"/>
        <activity android:name=".acticity.AutoLayoutActivity"/>
        <activity android:name=".acticity.IconfontActivity"/>
        <activity android:name=".acticity.LoaddingActivity"/>
        <activity android:name=".acticity.ViewpagerActivity"/>
        <activity android:name=".acticity.NumberProgressbarActivity"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <meta-data
            android:name="design_width"
            android:value="1080"/>
        <meta-data
            android:name="design_height"
            android:value="1920"/>
    </application>

</manifest>